*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    
}
.bola{
    background-color: #a4f9f3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: -7%;
    left: 2%;
}
.menu{
    background-color: rgb(243, 247, 246);
    height: 100px;
    width: 1349.4999px;
    position: relative;
}
.Nome{
    position: relative;
    top:40%;
    left: 4.5%;
    margin-left: 4px;
    font-family: sans-serif;
    width: 285px;
    height: 1px;
}

.resumo{
  position: relative;
  top: 37%;
  left: 72%;
  width: 65px;
  height: 10px;
  opacity: 85%;
}

.bara1{
  position: relative;
  width: 0.2%;
  height: 43%;
  background-color: black;
  top: -33%;
  left: 78%;
}

html{
    padding-bottom: 1000px;
}

.experiencias{
  position:relative;
  top:46.5%;
  left: 79.3%;
  opacity: 85%;
  width: 65px;
  height: 10px;
}

.bara2{
  position: relative;
  width: 0.19%;
  height: 43%;
  background-color: black;
  top: -76%;
  left: 88.1%;
}

.competencias{
  position:relative;
  top:28%;
  left:89.4%;
  opacity: 85%;
  width: 65px;
  height: 10px;
}

.eu{
  position:relative;
  left:25%;
  top:30%;
  width: 215px;
  height: 10px;
  opacity: 60%;
}


.Foto-Minha{
  position:relative;
  background-color: "./";
  width: 550px;
  height: 550px;
  border-radius:50%;
  top:150px;
  left:300px;
}