*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    
}
.bola{
    background-color: #a4f9f3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 30%;
    left: 2%;
}
.menu{
    background-color: rgb(238, 238, 247);
    height: 100px;
    width: 1349.4999px;
    position: relative;
}
.Nome{
    position: relative;
    top:4%;
    left: 4.5%;
    margin-left: 4px;
    font-family: sans-serif;
    width: 285px;
    height: 1px;
}



.resumo{
  position: relative;
  top: 15%;
  left: 70%;
  width: 65px;
  height: 10px;
  opacity: 85%;
}

.bara{
  position: relative;
  width: 0.2%;
  height: 40%;
  background-color: black;
  top: -5%;
  left: 76%;
}

html{
    padding-bottom: 1000px;
}

.experiencias{
  position:relative;
  top:-34%;
  left: 77.5%;
  opacity: 85%;
}