*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    
}
.bola{
    background-color: #a4f9f3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 30%;
    left: 2%;
}
.menu{
    background-color: rgb(207, 204, 245);
    height: 100px;
    width: 1350px;
    position: relative;
}
.Nome{
    position: relative;
    top:4%;
    left: 4.5%;
    margin-left: 4px;
    font-family: sans-serif;
}

.sombra{
  margin-top: 47px;
  background-color: black;
}

.resumo{
  position: relative;
  height: 1%;
  top: -10%;
  left: 70%;
}

.bara{
  position: relative;
  width: 0.2%;
  height: 40%;
  background-color: black;
  top:-10;
  left: 80%;
}

html{
    padding-bottom: 1000px;
}